# **A program For Company Event**

## **Import Libraries**

In [1]:
import requests # to handle requests
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
#tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library##

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          92 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-1.21.0-py_0



Downloading and Extracting Packages
geopy-1.21.0         | 58 KB     | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36h8c4c3a4_1000         346 KB  conda-forge
    chardet-3.0.4              |py36h9f0ad1d_1006         188 KB  conda-forge
    cryptography-2.8           |   py36h45558ae_2         628 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    pandas-1.0.3               |   py36h830a2c2_1        11.1 MB  conda-forge
    pysocks-1.7.1              |   py36h9f0ad1d_1          27 KB  conda-forge
    toolz-0.10.0               |             py_0          46 KB  conda-forge
    urllib3-1.25.9             |             py_0          92 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        13.1 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-19.3.0-py_0
  branca             conda-forge/noarch::branca-0.4.0-py_0
  brotlipy           conda-forge/linux-64::brotlipy-0.7.0-py36h8c4c3a4_1000
  chardet            conda-forge/linux-64::chardet-3.0.4-py36h9f0ad1d_1006
  cryptography       conda-forge/linux-64::cryptography-2.8-py36h45558ae_2
  entrypoints        conda-forge/linux-64::entrypoints-0.3-py36h9f0ad1d_1001
  folium             conda-forge/noarch::folium-0.5.0-py_0
  idna               conda-forge/noarch::idna-2.9-py_1
  importlib-metadata conda-forge/linux-64::importlib-metadata-1.6.0-py36h9f0ad1d_0
  importlib_metadata conda-forge/noarch::importlib_metadata-1.6.0-0
  jinja2             conda-forge/noarch::jinja2-2.11.2-pyh9f0ad1d_0
  jsonschema         conda-forge/linux-64::jsonschema-3.2.0-py36h9f0ad1d_1
  markupsafe         conda-forge/linux-64::markupsafe-1.1.1-py36h8c4c3a4_1
  pandas             conda-forge/linux-64::pandas-1.0.3-py36h830a2c2_1
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyrsistent         conda-forge/linux-64::pyrsistent-0.16.0-py36h8c4c3a4_0
  pysocks            conda-forge/linux-64::pysocks-1.7.1-py36h9f0ad1d_1
  pytz               conda-forge/noarch::pytz-2019.3-py_0
  requests           conda-forge/noarch::requests-2.23.0-pyh8c360ce_2
  toolz              conda-forge/noarch::toolz-0.10.0-py_0
  urllib3            conda-forge/noarch::urllib3-1.25.9-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1
  zipp               conda-forge/noarch::zipp-3.1.0-py_0



Downloading and Extracting Packages
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
cryptography-2.8     | 628 KB    | ##################################### | 100%
toolz-0.10.0         | 46 KB     | ##################################### | 100%
chardet-3.0.4        | 188 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
urllib3-1.25.9       | 92 KB     | ##################################### | 100%
brotlipy-0.7.0       | 346 KB    | ##################################### | 100%
pandas-1.0.3         | 11.1 MB   | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## **Define Foursquare Credentials**

In [2]:
ClIENT_ID = 'LG0RJJLIDRFUZIW3KWQ00BZCCZFPJGJ4QGYL0WP3A3VWFP5H' # your Foursquare ID
ClIENT_SECRET = '4L1RGUFM4YKOMXBHCPHU1TRHUY2B2XX3UPKD4FNHKVFQM3K3' # your Foursquare Secret
VERSION = '20180604'
LIMIT =30
print('Your credentails:')
print('Foursquare_ID: ' + ClIENT_ID)
print('Foursquare_Secret:' + ClIENT_SECRET)

Your credentails:
Foursquare_ID: LG0RJJLIDRFUZIW3KWQ00BZCCZFPJGJ4QGYL0WP3A3VWFP5H
Foursquare_Secret:4L1RGUFM4YKOMXBHCPHU1TRHUY2B2XX3UPKD4FNHKVFQM3K3

## **Define the city and get its latitude & longitude**

In [52]:
# define the city and get its latitude & longitude 
city = 'leeds'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(city)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

53.7974185 -1.5437941

### Search for a specific venue category
> `https://api.foursquare.com/v2/venues/`**search**`?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&ll=`**LATITUDE**`,`**LONGITUDE**`&v=`**VERSION**`&query=`**QUERY**`&radius=`**RADIUS**`&limit=`**LIMIT**

## **Search for Hotels**

In [53]:
# search for hotels
search_query = 'Hotel'
radius = 500
print(search_query + ' .... OK!')

Hotel .... OK!

In [54]:
# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=LG0RJJLIDRFUZIW3KWQ00BZCCZFPJGJ4QGYL0WP3A3VWFP5H&client_secret=4L1RGUFM4YKOMXBHCPHU1TRHUY2B2XX3UPKD4FNHKVFQM3K3&ll=53.7974185,-1.5437941&v=20180604&query=Hotel&radius=500&limit=30'

In [55]:
# Send the GET Request and examine the results
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5e9efaad95feaf001be5e7a5'},
 'response': {'venues': [{'id': '4b5ad1eef964a5200fd628e3',
    'name': 'The Queens Hotel',
    'location': {'address': '1 City Sq',
     'lat': 53.79611438760734,
     'lng': -1.5476864107293389,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79611438760734,
       'lng': -1.5476864107293389}],
     'distance': 294,
     'postalCode': 'LS 1 2',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['1 City Sq', 'Leeds', 'LS 1 2', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b75db0df964a520bd292ee3',
    'name': 'Radisson Blu Hotel, Leeds',
    'location': {'address': 'No. 1 The Light, The Headrow',
     'crossStreet': 'The Headrow',
     'lat': 53.8001632,
     'lng': -1.5469627,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.8001632,
       'lng': -1.5469627}],
     'distance': 369,
     'postalCode': 'LS1 8TL',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['No. 1 The Light, The Headrow (The Headrow)',
      'Leeds',
      'LS1 8TL',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bc4c9a1abf49521f791c593',
    'name': 'Leeds Marriott Hotel',
    'location': {'address': '4 Trevelyan Square, Boar Lane',
     'lat': 53.795537029222885,
     'lng': -1.5431848168373108,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.795537029222885,
       'lng': -1.5431848168373108}],
     'distance': 213,
     'postalCode': 'LS1 6ET',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['4 Trevelyan Square, Boar Lane',
      'Leeds',
      'LS1 6ET',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '131926415'},
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '523dedad8fb166e08ff55395',
    'name': 'Hotel Chocolat Metropolis',
    'location': {'address': '55 Boar Ln',
     'crossStreet': 'Albion St',
     'lat': 53.795896236472785,
     'lng': -1.5451553739046384,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.795896236472785,
       'lng': -1.5451553739046384}],
     'distance': 191,
     'postalCode': 'LS1 5EL',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['55 Boar Ln (Albion St)',
      'Leeds',
      'LS1 5EL',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1c4941735',
      'name': 'Restaurant',
      'pluralName': 'Restaurants',
      'shortName': 'Restaurant',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bb2639435f0c9b63835bb83',
    'name': 'Scarbrough Hotel',
    'location': {'address': 'Bishopgate St',
     'lat': 53.795176877449634,
     'lng': -1.5464724217148165,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.795176877449634,
       'lng': -1.5464724217148165}],
     'distance': 305,
     'postalCode': 'LS1 5DY',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Bishopgate St',
      'Leeds',
      'LS1 5DY',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d155941735',
      'name': 'Gastropub',
      'pluralName': 'Gastropubs',
      'shortName': 'Gastropub',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/gastropub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bd1b02b5e0cce7251d6a184',
    'name': 'Golden Lion Hotel',
    'location': {'address': '2 Briggate',
     'lat': 53.794442772770154,
     'lng': -1.5427243698191706,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.794442772770154,
       'lng': -1.5427243698191706}],
     'distance': 338,
     'postalCode': 'LS 1 4',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['2 Briggate', 'Leeds', 'LS 1 4', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b850c56f964a520db4931e3',
    'name': 'Cosmopolitan Hotel',
    'location': {'address': '2 Lower Briggate',
     'lat': 53.794357526020306,
     'lng': -1.5425288943231794,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.794357526020306,
       'lng': -1.5425288943231794}],
     'distance': 350,
     'postalCode': 'LS1 4AE',
     'cc': 'GB',
     'neighborhood': 'Leeds',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['2 Lower Briggate',
      'Leeds',
      'LS1 4AE',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4ba8a0cef964a52045e339e3',
    'name': 'The Met Hotel',
    'location': {'address': 'King St',
     'lat': 53.79672506746285,
     'lng': -1.5501535343031483,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79672506746285,
       'lng': -1.5501535343031483}],
     'distance': 425,
     'postalCode': 'LS1 2HQ',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['King St', 'Leeds', 'LS1 2HQ', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4cb094d1b4b0a35d9c7d4ace',
    'name': 'Merrion Hotel',
    'location': {'address': 'Wade Ln',
     'lat': 53.801489,
     'lng': -1.542994,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.801489,
       'lng': -1.542994}],
     'distance': 456,
     'postalCode': 'LS2',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Wade Ln', 'Leeds', ' LS2', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '55cd3745498e2399b891b75c',
    'name': 'The Met Hotel Leeds',
    'location': {'address': 'King Street',
     'lat': 53.7964515,
     'lng': -1.550556,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.7964515,
       'lng': -1.550556}],
     'distance': 457,
     'postalCode': 'LS1 2HQ',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['King Street',
      'Leeds',
      'LS1 2HQ',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '358547470'},
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bbf198898f495217811d263',
    'name': 'Hotel Chocolat',
    'location': {'address': '20 Albion Pl',
     'lat': 53.795885801724815,
     'lng': -1.5451317705107117,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.795885801724815,
       'lng': -1.5451317705107117}],
     'distance': 191,
     'postalCode': 'LS1 6JS',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['20 Albion Pl',
      'Leeds',
      'LS1 6JS',
      'United Kingdom']},
    'categories': [{'id': '52f2ab2ebcbc57f1066b8b31',
      'name': 'Chocolate Shop',
      'pluralName': 'Chocolate Shops',
      'shortName': 'Chocolate Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/candystore_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '5915d65e01559a6ff2ae141c',
    'name': 'Weetwood Hall Hotel',
    'location': {'address': 'Goodbard House',
     'lat': 53.79753180903443,
     'lng': -1.5493790432810783,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79753180903443,
       'lng': -1.5493790432810783}],
     'distance': 367,
     'postalCode': 'LS1 2JP',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Goodbard House',
      'Leeds',
      'LS1 2JP',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4dd942c67d8b3226641be635',
    'name': 'The Templar Hotel',
    'location': {'address': 'Templar Street',
     'lat': 53.80016856650442,
     'lng': -1.5394373653455296,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.80016856650442,
       'lng': -1.5394373653455296}],
     'distance': 419,
     'postalCode': 'LS2 7NU',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Templar Street',
      'Leeds',
      'LS2 7NU',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d11b941735',
      'name': 'Pub',
      'pluralName': 'Pubs',
      'shortName': 'Pub',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '5c90ff11625a66002c9e7e88',
    'name': '42 The Calls Hotel',
    'location': {'address': '42',
     'crossStreet': 'The Calls',
     'lat': 53.79467516310602,
     'lng': -1.5379947423934937,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79467516310602,
       'lng': -1.5379947423934937}],
     'distance': 488,
     'postalCode': 'LS2 7EW',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['42 (The Calls)',
      'Leeds',
      'LS2 7EW',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b47a957f964a5207f3926e3',
    'name': 'The Wrens Hotel',
    'location': {'address': '59-61 New Briggate',
     'lat': 53.80060524587697,
     'lng': -1.5409597046936383,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.80060524587697,
       'lng': -1.5409597046936383}],
     'distance': 400,
     'postalCode': 'LS2 8JD',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['59-61 New Briggate',
      'Leeds',
      'LS2 8JD',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d11b941735',
      'name': 'Pub',
      'pluralName': 'Pubs',
      'shortName': 'Pub',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b47a420f964a520a53826e3',
    'name': 'Victoria Hotel',
    'location': {'address': '28 Great George St',
     'lat': 53.80077365713834,
     'lng': -1.5496695080435445,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.80077365713834,
       'lng': -1.5496695080435445}],
     'distance': 537,
     'postalCode': 'LS1 3DL',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['28 Great George St',
      'Leeds',
      'LS1 3DL',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d11b941735',
      'name': 'Pub',
      'pluralName': 'Pubs',
      'shortName': 'Pub',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '5b8978acf62e09002c6f6365',
    'name': 'easyHotel Leeds',
    'location': {'address': '18 Lands Ln',
     'lat': 53.79804842862486,
     'lng': -1.54342654372158,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79804842862486,
       'lng': -1.54342654372158}],
     'distance': 74,
     'postalCode': 'LS1 6LB',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['18 Lands Ln',
      'Leeds',
      'LS1 6LB',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b75dba3f964a520eb292ee3',
    'name': 'Park Plaza Leeds',
    'location': {'address': 'Boar Lane City Square, Leeds',
     'lat': 53.79627776432055,
     'lng': -1.5465880932254095,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79627776432055,
       'lng': -1.5465880932254095}],
     'distance': 223,
     'postalCode': 'LS1 5NS',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Boar Lane City Square, Leeds',
      'Leeds',
      'LS1 5NS',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bd8a0822e6f0f479be50708',
    'name': 'Scene! Bar',
    'location': {'address': 'Boar Ln',
     'lat': 53.79602987688078,
     'lng': -1.5469052067887659,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79602987688078,
       'lng': -1.5469052067887659}],
     'distance': 256,
     'postalCode': 'LS1',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Boar Ln', 'Leeds', ' LS1', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d116941735',
      'name': 'Bar',
      'pluralName': 'Bars',
      'shortName': 'Bar',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b32777af964a520720c25e3',
    'name': 'The Adelphi',
    'location': {'address': '1-5 Hunslet Rd',
     'lat': 53.79325286470209,
     'lng': -1.5414730198379747,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79325286470209,
       'lng': -1.5414730198379747}],
     'distance': 488,
     'postalCode': 'LS10 1JQ',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['1-5 Hunslet Rd',
      'Leeds',
      'LS10 1JQ',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d11b941735',
      'name': 'Pub',
      'pluralName': 'Pubs',
      'shortName': 'Pub',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '55c48c51498eca37e2f26ec1',
    'name': 'Roomzzz Leeds City',
    'location': {'address': '10 Swinegate',
     'lat': 53.79432296,
     'lng': -1.54296179,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79432296,
       'lng': -1.54296179}],
     'distance': 348,
     'postalCode': 'LS1 4AG',
     'cc': 'GB',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['10 Swinegate',
      'Leeds',
      'LS1 4AG',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '412732535'},
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4bc43a8e461576b0f9a07f32',
    'name': 'Hilton',
    'location': {'address': 'Neville St',
     'lat': 53.79357135564769,
     'lng': -1.546998197721107,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79357135564769,
       'lng': -1.546998197721107}],
     'distance': 477,
     'postalCode': 'LS1 4BX',
     'cc': 'GB',
     'neighborhood': 'West Yorkshire',
     'city': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Neville St', 'Leeds', 'LS1 4BX', 'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4c20cc6cebe52d7f09213178',
    'name': 'Travelodge',
    'location': {'address': 'Blayds Court',
     'crossStreet': 'Swinegate',
     'lat': 53.79434295171765,
     'lng': -1.5437614019907666,
     'labeledLatLngs': [{'label': 'display',
       'lat': 53.79434295171765,
       'lng': -1.5437614019907666}],
     'distance': 342,
     'postalCode': 'LS1 4AD',
     'cc': 'GB',
     'city': 'Leeds',
     'state': 'Leeds',
     'country': 'United Kingdom',
     'formattedAddress': ['Blayds Court (Swinegate)',
      'Leeds',
      'LS1 4AD',
      'United Kingdom']},
    'categories': [{'id': '4bf58dd8d48988d1fa931735',
      'name': 'Hotel',
      'pluralName': 'Hotels',
      'shortName': 'Hotel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1587477455',
    'hasPerk': False},
   {'id': '4b327348f964a5200a0c25e3',
    'name': 'Malmaison',

In [56]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.country,location.formattedAddress,location.crossStreet,location.state,venuePage.id,location.neighborhood
0,4b5ad1eef964a5200fd628e3,The Queens Hotel,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1587477455,False,1 City Sq,53.796114,-1.547686,"[{'label': 'display', 'lat': 53.79611438760734...",294,LS 1 2,GB,Leeds,United Kingdom,"[1 City Sq, Leeds, LS 1 2, United Kingdom]",NaN,NaN,NaN,NaN
1,4b75db0df964a520bd292ee3,"Radisson Blu Hotel, Leeds","[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1587477455,False,"No. 1 The Light, The Headrow",53.800163,-1.546963,"[{'label': 'display', 'lat': 53.8001632, 'lng'...",369,LS1 8TL,GB,Leeds,United Kingdom,"[No. 1 The Light, The Headrow (The Headrow), L...",The Headrow,NaN,NaN,NaN
2,4bc4c9a1abf49521f791c593,Leeds Marriott Hotel,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1587477455,False,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,"[{'label': 'display', 'lat': 53.79553702922288...",213,LS1 6ET,GB,Leeds,United Kingdom,"[4 Trevelyan Square, Boar Lane, Leeds, LS1 6ET...",NaN,Leeds,131926415,NaN
3,523dedad8fb166e08ff55395,Hotel Chocolat Metropolis,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1587477455,False,55 Boar Ln,53.795896,-1.545155,"[{'label': 'display', 'lat': 53.79589623647278...",191,LS1 5EL,GB,Leeds,United Kingdom,"[55 Boar Ln (Albion St), Leeds, LS1 5EL, Unite...",Albion St,Leeds,NaN,NaN
4,4bb2639435f0c9b63835bb83,Scarbrough Hotel,"[{'id': '4bf58dd8d48988d155941735', 'name': 'G...",v-1587477455,False,Bishopgate St,53.795177,-1.546472,"[{'label': 'display', 'lat': 53.79517687744963...",305,LS1 5DY,GB,Leeds,United Kingdom,"[Bishopgate St, Leeds, LS1 5DY, United Kingdom]",NaN,NaN,NaN,NaN

#### Define information of interest and filter dataframe

In [57]:
# keep only columns that include venue name, and anything that is associated with location

clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_dataframe = dataframe.loc[:,clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_dataframe['categories'] = clean_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_dataframe.columns = [column.split('.')[-1] for column in clean_dataframe.columns]

clean_dataframe.head()

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,country,formattedAddress,crossStreet,state,neighborhood,id
0,The Queens Hotel,Hotel,1 City Sq,53.796114,-1.547686,"[{'label': 'display', 'lat': 53.79611438760734...",294,LS 1 2,GB,Leeds,United Kingdom,"[1 City Sq, Leeds, LS 1 2, United Kingdom]",NaN,NaN,NaN,4b5ad1eef964a5200fd628e3
1,"Radisson Blu Hotel, Leeds",Hotel,"No. 1 The Light, The Headrow",53.800163,-1.546963,"[{'label': 'display', 'lat': 53.8001632, 'lng'...",369,LS1 8TL,GB,Leeds,United Kingdom,"[No. 1 The Light, The Headrow (The Headrow), L...",The Headrow,NaN,NaN,4b75db0df964a520bd292ee3
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,"[{'label': 'display', 'lat': 53.79553702922288...",213,LS1 6ET,GB,Leeds,United Kingdom,"[4 Trevelyan Square, Boar Lane, Leeds, LS1 6ET...",NaN,Leeds,NaN,4bc4c9a1abf49521f791c593
3,Hotel Chocolat Metropolis,Restaurant,55 Boar Ln,53.795896,-1.545155,"[{'label': 'display', 'lat': 53.79589623647278...",191,LS1 5EL,GB,Leeds,United Kingdom,"[55 Boar Ln (Albion St), Leeds, LS1 5EL, Unite...",Albion St,Leeds,NaN,523dedad8fb166e08ff55395
4,Scarbrough Hotel,Gastropub,Bishopgate St,53.795177,-1.546472,"[{'label': 'display', 'lat': 53.79517687744963...",305,LS1 5DY,GB,Leeds,United Kingdom,"[Bishopgate St, Leeds, LS1 5DY, United Kingdom]",NaN,NaN,NaN,4bb2639435f0c9b63835bb83

In [77]:
# delete unnecessary columns
clean_dataframe2= clean_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood', 'id'], axis=1)
clean_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,The Queens Hotel,Hotel,1 City Sq,53.796114,-1.547686,LS 1 2,NaN
1,"Radisson Blu Hotel, Leeds",Hotel,"No. 1 The Light, The Headrow",53.800163,-1.546963,LS1 8TL,NaN
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds
3,Hotel Chocolat Metropolis,Restaurant,55 Boar Ln,53.795896,-1.545155,LS1 5EL,Leeds
4,Scarbrough Hotel,Gastropub,Bishopgate St,53.795177,-1.546472,LS1 5DY,NaN
5,Golden Lion Hotel,Hotel,2 Briggate,53.794443,-1.542724,LS 1 4,NaN
6,Cosmopolitan Hotel,Hotel,2 Lower Briggate,53.794358,-1.542529,LS1 4AE,Leeds
7,The Met Hotel,Hotel,King St,53.796725,-1.550154,LS1 2HQ,NaN
8,Merrion Hotel,Hotel,Wade Ln,53.801489,-1.542994,LS2,NaN
9,The Met Hotel Leeds,Hotel,King Street,53.796452,-1.550556,LS1 2HQ,Leeds
10,Hotel Chocolat,Chocolate Shop,20 Albion Pl,53.795886,-1.545132,LS1 6JS,Leeds
11,Weetwood Hall Hotel,Hotel,Goodbard House,53.797532,-1.549379,LS1 2JP,Leeds
12,The Templar Hotel,Pub,Templar Street,53.800169,-1.539437,LS2 7NU,Leeds
13,42 The Calls Hotel,Hotel,42,53.794675,-1.537995,LS2 7EW,NaN
14,The Wrens Hotel,Pub,59-61 New Briggate,53.800605,-1.540960,LS2 8JD,Leeds
15,Victoria Hotel,Pub,28 Great George St,53.800774,-1.549670,LS1 3DL,NaN
16,easyHotel Leeds,Hotel,18 Lands Ln,53.798048,-1.543427,LS1 6LB,Leeds
17,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
18,Scene! Bar,Bar,Boar Ln,53.796030,-1.546905,LS1,NaN
19,The Adelphi,Pub,1-5 Hunslet Rd,53.793253,-1.541473,LS10 1JQ,NaN
20,Roomzzz Leeds City,Hotel,10 Swinegate,53.794323,-1.542962,LS1 4AG,NaN
21,Hilton,Hotel,Neville St,53.793571,-1.546998,LS1 4BX,NaN
22,Travelodge,Hotel,Blayds Court,53.794343,-1.543761,LS1 4AD,Leeds
23,Malmaison,Hotel,1 Swinegate,53.794290,-1.542776,LS1 4AG,NaN
24,Serenity Spa,Spa,NaN,53.793759,-1.548604,NaN,Leeds
25,The Quebecs Townhouse,Hotel,9 Quebec St.,53.796734,-1.549111,LS1 2HA,NaN

In [78]:
# delete rows with none values
clean_dataframe3 = clean_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_dataframe3

,name,categories,address,lat,lng,postalCode,state
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds
3,Hotel Chocolat Metropolis,Restaurant,55 Boar Ln,53.795896,-1.545155,LS1 5EL,Leeds
6,Cosmopolitan Hotel,Hotel,2 Lower Briggate,53.794358,-1.542529,LS1 4AE,Leeds
9,The Met Hotel Leeds,Hotel,King Street,53.796452,-1.550556,LS1 2HQ,Leeds
10,Hotel Chocolat,Chocolate Shop,20 Albion Pl,53.795886,-1.545132,LS1 6JS,Leeds
11,Weetwood Hall Hotel,Hotel,Goodbard House,53.797532,-1.549379,LS1 2JP,Leeds
12,The Templar Hotel,Pub,Templar Street,53.800169,-1.539437,LS2 7NU,Leeds
14,The Wrens Hotel,Pub,59-61 New Briggate,53.800605,-1.540960,LS2 8JD,Leeds
16,easyHotel Leeds,Hotel,18 Lands Ln,53.798048,-1.543427,LS1 6LB,Leeds
17,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
22,Travelodge,Hotel,Blayds Court,53.794343,-1.543761,LS1 4AD,Leeds

In [79]:
# delete rows which its category is not Hotel or Event Space
array= ['Hotel', 'Event Space']
hotel_dataframe= clean_dataframe3.loc[clean_dataframe3['categories'].isin(array)]
hotel_dataframe

,name,categories,address,lat,lng,postalCode,state
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds
6,Cosmopolitan Hotel,Hotel,2 Lower Briggate,53.794358,-1.542529,LS1 4AE,Leeds
9,The Met Hotel Leeds,Hotel,King Street,53.796452,-1.550556,LS1 2HQ,Leeds
11,Weetwood Hall Hotel,Hotel,Goodbard House,53.797532,-1.549379,LS1 2JP,Leeds
16,easyHotel Leeds,Hotel,18 Lands Ln,53.798048,-1.543427,LS1 6LB,Leeds
17,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
22,Travelodge,Hotel,Blayds Court,53.794343,-1.543761,LS1 4AD,Leeds

In [80]:
# delete rows which has duplicate hotel's name
df_hotels = hotel_dataframe.drop_duplicates(subset='name', keep="first")
df_hotels

,name,categories,address,lat,lng,postalCode,state
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds
6,Cosmopolitan Hotel,Hotel,2 Lower Briggate,53.794358,-1.542529,LS1 4AE,Leeds
9,The Met Hotel Leeds,Hotel,King Street,53.796452,-1.550556,LS1 2HQ,Leeds
11,Weetwood Hall Hotel,Hotel,Goodbard House,53.797532,-1.549379,LS1 2JP,Leeds
16,easyHotel Leeds,Hotel,18 Lands Ln,53.798048,-1.543427,LS1 6LB,Leeds
17,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
22,Travelodge,Hotel,Blayds Court,53.794343,-1.543761,LS1 4AD,Leeds

In [82]:
# choose the hotel which has the same postalCode with the event space
df_hotel = df_hotels[df_hotels.postalCode == 'LS1 6ET']
df_hotel

,name,categories,address,lat,lng,postalCode,state
2,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds

## **Search for Parks**

In [83]:
# search for Parks
search_query = 'Park'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=LG0RJJLIDRFUZIW3KWQ00BZCCZFPJGJ4QGYL0WP3A3VWFP5H&client_secret=4L1RGUFM4YKOMXBHCPHU1TRHUY2B2XX3UPKD4FNHKVFQM3K3&ll=53.7974185,-1.5437941&v=20180604&query=Park&radius=10000&limit=30'

In [84]:
# Send the GET Request and examine the results
presults = requests.get(url).json()
#presults

In [85]:
# assign relevant part of JSON to venues
venues = presults['response']['venues']

# tranform venues into a dataframe
park_dataframe = json_normalize(venues)
park_dataframe.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,location.crossStreet,location.neighborhood,venuePage.id
0,4beff636d4f70f475a4e390f,Park Square,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",v-1587477703,False,Park Square,53.798725,-1.552001,"[{'label': 'display', 'lat': 53.7987245125227,...",558,LS1,GB,Leeds,Leeds,United Kingdom,"[Park Square, Leeds, LS1, United Kingdom]",NaN,NaN,NaN
1,4b75dba3f964a520eb292ee3,Park Plaza Leeds,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1587477703,False,"Boar Lane City Square, Leeds",53.796278,-1.546588,"[{'label': 'display', 'lat': 53.79627776432055...",223,LS1 5NS,GB,Leeds,Leeds,United Kingdom,"[Boar Lane City Square, Leeds, Leeds, LS1 5NS,...",NaN,NaN,NaN
2,4d77415a9ee9a35d4fe1aff8,Lovell Park,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",v-1587477703,False,Grafton St,53.802843,-1.538129,"[{'label': 'display', 'lat': 53.80284316792958...",709,LS7 1D,GB,Leeds,NaN,United Kingdom,"[Grafton St, Leeds, LS7 1D, United Kingdom]",NaN,NaN,NaN
3,55ca60cc498e59a4fbb0d592,Q-Park Albion Street,"[{'id': '4c38df4de52ce0d596b336e1', 'name': 'P...",v-1587477703,False,Butts Court,53.798059,-1.545865,"[{'label': 'display', 'lat': 53.798059, 'lng':...",153,LS1 5JS,GB,Leeds,Leeds,United Kingdom,"[Butts Court, Leeds, LS1 5JS, United Kingdom]",NaN,NaN,NaN
4,4d05f5c79b7f60fca5b90aab,The Park Row Bar and Brasserie,"[{'id': '4bf58dd8d48988d155941735', 'name': 'G...",v-1587477703,False,123 The Headrow,53.799460,-1.547116,"[{'label': 'display', 'lat': 53.79945992594812...",315,LS1 5HD,GB,Leeds,Leeds,United Kingdom,"[123 The Headrow (Park Row), Leeds, LS1 5HD, U...",Park Row,NaN,NaN

## **Clean Park Dataframe**

In [96]:
# keep only columns that include venue name, and anything that is associated with location
park_clean_columns = ['name', 'categories'] + [col for col in park_dataframe.columns if col.startswith('location.')]+ ['id']
clean_park_dataframe = park_dataframe.loc[:,park_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list1 = row['categories']
    except:
        categories_list1 = row['venue.categories']
        
    if len(categories_list1) == 0:
        return None
    else:
        return categories_list1[0]['name']

# filter the category for each row
clean_park_dataframe['categories'] = clean_park_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_park_dataframe.columns = [column.split('.')[-1] for column in clean_park_dataframe.columns]

clean_park_dataframe.head()

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,crossStreet,neighborhood,id
0,Park Square,Park,Park Square,53.798725,-1.552001,"[{'label': 'display', 'lat': 53.7987245125227,...",558,LS1,GB,Leeds,Leeds,United Kingdom,"[Park Square, Leeds, LS1, United Kingdom]",NaN,NaN,4beff636d4f70f475a4e390f
1,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,"[{'label': 'display', 'lat': 53.79627776432055...",223,LS1 5NS,GB,Leeds,Leeds,United Kingdom,"[Boar Lane City Square, Leeds, Leeds, LS1 5NS,...",NaN,NaN,4b75dba3f964a520eb292ee3
2,Lovell Park,Park,Grafton St,53.802843,-1.538129,"[{'label': 'display', 'lat': 53.80284316792958...",709,LS7 1D,GB,Leeds,NaN,United Kingdom,"[Grafton St, Leeds, LS7 1D, United Kingdom]",NaN,NaN,4d77415a9ee9a35d4fe1aff8
3,Q-Park Albion Street,Parking,Butts Court,53.798059,-1.545865,"[{'label': 'display', 'lat': 53.798059, 'lng':...",153,LS1 5JS,GB,Leeds,Leeds,United Kingdom,"[Butts Court, Leeds, LS1 5JS, United Kingdom]",NaN,NaN,55ca60cc498e59a4fbb0d592
4,The Park Row Bar and Brasserie,Gastropub,123 The Headrow,53.799460,-1.547116,"[{'label': 'display', 'lat': 53.79945992594812...",315,LS1 5HD,GB,Leeds,Leeds,United Kingdom,"[123 The Headrow (Park Row), Leeds, LS1 5HD, U...",Park Row,NaN,4d05f5c79b7f60fca5b90aab

In [97]:
# delete unnecessary columns
clean_park_dataframe2= clean_park_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood', 'id'], axis=1)
clean_park_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,Park Square,Park,Park Square,53.798725,-1.552001,LS1,Leeds
1,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
2,Lovell Park,Park,Grafton St,53.802843,-1.538129,LS7 1D,NaN
3,Q-Park Albion Street,Parking,Butts Court,53.798059,-1.545865,LS1 5JS,Leeds
4,The Park Row Bar and Brasserie,Gastropub,123 The Headrow,53.799460,-1.547116,LS1 5HD,Leeds
5,Q-Park Sovereign Square,Parking,Swinegate,53.794189,-1.543274,LS1 4AG,Leeds
6,Q-Park Head Office,Parking,72 Merrion Street,53.800959,-1.543296,LS2 8LW,Leeds
7,Crown Point Shopping Park,Shopping Plaza,Junction St,53.788533,-1.540254,LS10 1ET,NaN
8,Leeds City College Park Lane Campus,General College & University,Park Lane,53.800369,-1.558227,LS3 1AA,Leeds
9,Park Lane Campus Library+,College Library,Park Lane,53.800855,-1.558287,LS3 1AA,NaN
10,Woodhouse Moor Park,Park,Hyde Park Rd,53.811217,-1.561792,LS 6 1,NaN
11,11 Park Row,Residential Building (Apartment / Condo),11 Park House Apartments,53.798287,-1.546297,NaN,Leeds
12,The Light,Shopping Mall,The Headrow,53.799845,-1.546306,LS1 8TL,NaN
13,Park Row,Road,Park Row,53.798936,-1.544976,LS1 5NR,NaN
14,Park Court,Building,NaN,53.797117,-1.546574,NaN,NaN
15,Potternewton Park,Park,Harehills Ln,53.822162,-1.525582,LS9,NaN
16,Park House App,Residential Building (Apartment / Condo),Park House App,53.798172,-1.546240,LS1 5HB,Leeds
17,Roundhay Park,Park,The Carriage Dr.,53.835488,-1.501895,LS8 1ER‎,NaN
18,Park row LS1,Residential Building (Apartment / Condo),NaN,53.796886,-1.547176,NaN,NaN
19,Park Place,Road,46 Park Place,53.797444,-1.550695,LS1,Leeds
20,Park Row LS1 Leeds,Residential Building (Apartment / Condo),NaN,53.798792,-1.547034,NaN,NaN
21,The Core Car Park,Parking,The Headrow,53.798537,-1.544917,NaN,Leeds
22,Park Row Apartments,Residential Building (Apartment / Condo),8 Greek Street,53.798497,-1.547132,NaN,Leeds
23,Woodhouse Lane Car Park,Parking,Woodhouse Lane,53.804275,-1.546820,LS1 3HQ,NaN
24,Burley Park Railway Station (BUY),Train Station,Ashville Road,53.812028,-1.577986,LS6 1NA,Leeds
25,Beckett Street Car Park,Parking,Beckett Street,53.806081,-1.518822,NaN,NaN
26,Park Row Apartments,Residential Building (Apartment / Condo),Greek Street,53.798532,-1.547131,NaN,Leeds
27,Park Court,Residential Building (Apartment / Condo),NaN,53.798471,-1.550343,NaN,NaN
28,8 Park Row,Office,8 Park Row,53.797887,-1.546703,LS1 5HD,Leeds
29,Hyde Park,Pub,2 Headingley Lane,53.814943,-1.561535,LS6 2AS,NaN

In [98]:
# delete rows with none values
clean_park_dataframe3 = clean_park_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_park_dataframe3

,name,categories,address,lat,lng,postalCode,state
0,Park Square,Park,Park Square,53.798725,-1.552001,LS1,Leeds
1,Park Plaza Leeds,Hotel,"Boar Lane City Square, Leeds",53.796278,-1.546588,LS1 5NS,Leeds
3,Q-Park Albion Street,Parking,Butts Court,53.798059,-1.545865,LS1 5JS,Leeds
4,The Park Row Bar and Brasserie,Gastropub,123 The Headrow,53.799460,-1.547116,LS1 5HD,Leeds
5,Q-Park Sovereign Square,Parking,Swinegate,53.794189,-1.543274,LS1 4AG,Leeds
6,Q-Park Head Office,Parking,72 Merrion Street,53.800959,-1.543296,LS2 8LW,Leeds
8,Leeds City College Park Lane Campus,General College & University,Park Lane,53.800369,-1.558227,LS3 1AA,Leeds
16,Park House App,Residential Building (Apartment / Condo),Park House App,53.798172,-1.546240,LS1 5HB,Leeds
19,Park Place,Road,46 Park Place,53.797444,-1.550695,LS1,Leeds
24,Burley Park Railway Station (BUY),Train Station,Ashville Road,53.812028,-1.577986,LS6 1NA,Leeds
28,8 Park Row,Office,8 Park Row,53.797887,-1.546703,LS1 5HD,Leeds

In [99]:
# delete rows which its category is not Park
df_park = clean_park_dataframe3[clean_park_dataframe3.categories == 'Park']
df_park

          name categories      address        lat       lng postalCode  state
0  Park Square       Park  Park Square  53.798725 -1.552001        LS1  Leeds

## **Search for Shopping Stores**

In [100]:
# search for Shopping
search_query = 'Shopping'
radius = 1000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=LG0RJJLIDRFUZIW3KWQ00BZCCZFPJGJ4QGYL0WP3A3VWFP5H&client_secret=4L1RGUFM4YKOMXBHCPHU1TRHUY2B2XX3UPKD4FNHKVFQM3K3&ll=53.7974185,-1.5437941&v=20180604&query=Shopping&radius=1000&limit=30'

In [101]:
# Send the GET Request and examine the results
sresults = requests.get(url).json()
#sresults

In [102]:
# assign relevant part of JSON to venues
venues = sresults['response']['venues']

# tranform venues into a dataframe
Shopping_dataframe = json_normalize(venues)
Shopping_dataframe.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.country,location.formattedAddress,location.state,location.crossStreet,venuePage.id
0,4c5a6c77ec2520a1ec8c5112,The Core Shopping Centre,"[{'id': '4bf58dd8d48988d1fd941735', 'name': 'S...",v-1587477779,False,The Headrow,53.798848,-1.543840,"[{'label': 'display', 'lat': 53.79884780719470...",159,LS1 6JE,GB,Leeds,United Kingdom,"[The Headrow, Leeds, LS1 6JE, United Kingdom]",NaN,NaN,NaN
1,596e042fd48ec155eb20f3ff,The 49 Bus - Seacroft To Bramley Shopping Centre,"[{'id': '4bf58dd8d48988d12b951735', 'name': 'B...",v-1587477779,False,NaN,53.799156,-1.542680,"[{'label': 'display', 'lat': 53.799156, 'lng':...",206,LS1,GB,Leeds,United Kingdom,"[Leeds, LS1, United Kingdom]",Leeds,NaN,NaN
2,50ffd713e4b0548e62dda3e9,Trinity Leeds,"[{'id': '4bf58dd8d48988d1fd941735', 'name': 'S...",v-1587477779,False,Albion St,53.796525,-1.543937,"[{'label': 'display', 'lat': 53.79652546884384...",99,LS1 5AT,GB,Leeds,United Kingdom,"[Albion St (Commercial St), Leeds, LS1 5AT, Un...",Leeds,Commercial St,64265900
3,4b4cefadf964a520cec426e3,The Light,"[{'id': '4bf58dd8d48988d1fd941735', 'name': 'S...",v-1587477779,False,The Headrow,53.799845,-1.546306,"[{'label': 'display', 'lat': 53.79984507610269...",316,LS1 8TL,GB,Leeds,United Kingdom,"[The Headrow, Leeds, LS1 8TL, United Kingdom]",NaN,NaN,NaN
4,4b51d7b5f964a520a05727e3,Crown Point Shopping Park,"[{'id': '5744ccdfe4b0c0459246b4dc', 'name': 'S...",v-1587477779,False,Junction St,53.788533,-1.540254,"[{'label': 'display', 'lat': 53.78853257365448...",1016,LS10 1ET,GB,Leeds,United Kingdom,"[Junction St, Leeds, LS10 1ET, United Kingdom]",NaN,NaN,NaN

## **Clean Shopping Dataframe**

In [103]:
# keep only columns that include venue name, and anything that is associated with location
Shopping_clean_columns = ['name', 'categories'] + [col for col in Shopping_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Shopping_dataframe = Shopping_dataframe.loc[:,Shopping_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list5 = row['categories']
    except:
        categories_list5 = row['venue.categories']
        
    if len(categories_list5) == 0:
        return None
    else:
        return categories_list5[0]['name']

# filter the category for each row
clean_Shopping_dataframe['categories'] = clean_Shopping_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Shopping_dataframe.columns = [column.split('.')[-1] for column in clean_Shopping_dataframe.columns]

clean_Shopping_dataframe.head()

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,country,formattedAddress,state,crossStreet,id
0,The Core Shopping Centre,Shopping Mall,The Headrow,53.798848,-1.543840,"[{'label': 'display', 'lat': 53.79884780719470...",159,LS1 6JE,GB,Leeds,United Kingdom,"[The Headrow, Leeds, LS1 6JE, United Kingdom]",NaN,NaN,4c5a6c77ec2520a1ec8c5112
1,The 49 Bus - Seacroft To Bramley Shopping Centre,Bus Line,NaN,53.799156,-1.542680,"[{'label': 'display', 'lat': 53.799156, 'lng':...",206,LS1,GB,Leeds,United Kingdom,"[Leeds, LS1, United Kingdom]",Leeds,NaN,596e042fd48ec155eb20f3ff
2,Trinity Leeds,Shopping Mall,Albion St,53.796525,-1.543937,"[{'label': 'display', 'lat': 53.79652546884384...",99,LS1 5AT,GB,Leeds,United Kingdom,"[Albion St (Commercial St), Leeds, LS1 5AT, Un...",Leeds,Commercial St,50ffd713e4b0548e62dda3e9
3,The Light,Shopping Mall,The Headrow,53.799845,-1.546306,"[{'label': 'display', 'lat': 53.79984507610269...",316,LS1 8TL,GB,Leeds,United Kingdom,"[The Headrow, Leeds, LS1 8TL, United Kingdom]",NaN,NaN,4b4cefadf964a520cec426e3
4,Crown Point Shopping Park,Shopping Plaza,Junction St,53.788533,-1.540254,"[{'label': 'display', 'lat': 53.78853257365448...",1016,LS10 1ET,GB,Leeds,United Kingdom,"[Junction St, Leeds, LS10 1ET, United Kingdom]",NaN,NaN,4b51d7b5f964a520a05727e3

In [106]:
# delete unnecessary columns
clean_Shopping_dataframe2= clean_Shopping_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood' ,'id'], axis=1)
clean_Shopping_dataframe2

KeyError: "['neighborhood'] not found in axis"

In [107]:
# delete rows which its category is not Shopping Mall
df_Shopping = clean_Shopping_dataframe2[clean_Shopping_dataframe2.categories == 'Shopping Mall']
df_Shopping

,name,categories,address,lat,lng,postalCode,state
0,The Core Shopping Centre,Shopping Mall,The Headrow,53.798848,-1.543840,LS1 6JE,NaN
2,Trinity Leeds,Shopping Mall,Albion St,53.796525,-1.543937,LS1 5AT,Leeds
3,The Light,Shopping Mall,The Headrow,53.799845,-1.546306,LS1 8TL,NaN

## **Generate map to visualize hotels, shopping stores and park and how they cluster together**

In [108]:
# create dataframe of hotels, shopping stores and Cafeteria
hotel_neighbourhood_df = pd.concat([df_hotel, df_park, df_Shopping], ignore_index=True)
hotel_neighbourhood_df

,name,categories,address,lat,lng,postalCode,state
0,Leeds Marriott Hotel,Hotel,"4 Trevelyan Square, Boar Lane",53.795537,-1.543185,LS1 6ET,Leeds
1,Park Square,Park,Park Square,53.798725,-1.552001,LS1,Leeds
2,The Core Shopping Centre,Shopping Mall,The Headrow,53.798848,-1.543840,LS1 6JE,NaN
3,Trinity Leeds,Shopping Mall,Albion St,53.796525,-1.543937,LS1 5AT,Leeds
4,The Light,Shopping Mall,The Headrow,53.799845,-1.546306,LS1 8TL,NaN

In [109]:
# Generate map to visualize hotel neighbourhood including shopping stores and park 

hotel_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(hotel_neighbourhood_df['lat'], hotel_neighbourhood_df['lng'], 
                                           hotel_neighbourhood_df['name'], hotel_neighbourhood_df['categories'],\
                                               hotel_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='RED',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(hotel_map)  
    
hotel_map